{% extends 'base.html' %}
{% block content %}

{% if success%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{success}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{%endif%}


{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{error}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{%endif%}
    <!-- Classic tabs -->
<div class="classic-tabs bg-white z-depth-2" style="margin: 8% auto; width:85%">

    <ul class="nav tabs-cyan" id="myClassicTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link  waves-light active show" id="profile-tab-classic" data-toggle="tab" href="#profile-classic"
          role="tab" aria-controls="profile-classic" aria-selected="true">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" id="follow-tab-classic" data-toggle="tab" href="#follow-classic" role="tab"
          aria-controls="follow-classic" aria-selected="false">Log In</a>
      </li>
    </ul>
    <div class="tab-content border-right border-bottom border-left rounded-bottom" id="myClassicTabContent">
      <div class="tab-pane fade active show" id="profile-classic" role="tabpanel" aria-labelledby="profile-tab-classic">
        <form action="" method="POST" class="mx-5">
            {%csrf_token%}

            <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="username" name="username"
                    class="form-control" required>
                <label for="username">User name</label>
            </div>
            
            <div class="md-form mb-5">
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="password" id="password1" name="password1"
                    class="form-control" required>
                <label for="password1">Password</label>
            </div>

            <div class="md-form mb-5">
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="password" id="password2" name="password2"
                    class="form-control" required>
                <label for="password2">Confirm password</label>
            </div>

            <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="email" id="email" name="email"
                    class="form-control" required>
                <label for="email">Email ID</label>
            </div>

            <div class="md-form mb-4">
                <i class="fas fa-home prefix grey-text"></i>
                <input type="text" id="addr" name="addr"
                    class="form-control">
                <label for="addr">Address</label>
            </div>
            <button type="submit" class="btn btn-info btn-rounded mx-auto">Sign Up</button>
        </form>
      </div>
      <div class="tab-pane fade" id="follow-classic" role="tabpanel" aria-labelledby="follow-tab-classic">
        <form action="" method="POST" class="mx-5">
            {%csrf_token%}

            <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="username" name="username_login"
                    class="form-control" required>
                <label for="username">User name</label>
            </div>
            
            <div class="md-form mb-5">
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="password" id="password1" name="password_login"
                    class="form-control" required>
                <label for="password1">Password</label>
            </div>

            
            <button type="submit" class="btn btn-info btn-rounded mx-auto">Log In</button>
        </form>
      </div>
    </div>
  
  </div>
  <!-- Classic tabs -->

{% endblock %}